# dados brutos e temporários
dados_brutos/
!dados_brutos/.gitkeep

tabelas_auxiliares/
!tabelas_auxiliares/.gitkeep

# arquivos brutos do SINAN
*.DBC
*.DBF
*.dbf
*.dbc
*.zip

# cache e notebook
.ipynb_checkpoints/
__pycache__/